{% extends 'subs/base.html' %}

{% block body %}
<div class="albums-container container-fluid">

    <!-- subs -->
    <div class="row">
        {% if subs %}
            {% for sub in subs %}
                <div class="col-sm-100">
                    <div class="thumbnail">
                       <div class="caption">
                            <h2>{{ sub.name }}</h2>
                            <h4>{{ sub.title }}</h4>

                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <div class="col-sm-100">
                <span> No subs </span>
        {% endif %}
    </div>
</div>

{% endblock %}